textarea {
    min-height: 400px;
}
.email-row {
    display: block;
    border: 1px solid black;
    width: auto;
    height: 40px;
}
span {
    float: right;
    display: inline-block;
    margin-top: 5px;
    margin-right: 60px;
}
.email-row p, b {
    display: inline-block;
    margin: 5px;
    color: black;
}
.true {
    background: #F3F3F3;
}
.archive {
    margin-top: -33px;
    margin-right: 5px;
    float: right;
    display: inline;
    background: #F3F3F3;
    width: 35px;
    height: 35px;
    border: none;
}